.overview-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

#search-form .field{
    margin-right: 2em;
}

.mat-mdc-form-field-subscript-wrapper{
    height: 0 !important;
}

.mat-mdc-row .mat-mdc-cell{
    cursor: pointer;
}

.mat-mdc-row:hover{
    background-color: #fafafa;
}

.mat-mdc-header-row{
    background-color: #ebeaff;
}
