<div class="overview-container">
    <div class="overview" [hidden]="currentView !== 'OVERVIEW'">
      <form [formGroup]="searchForm" id="search-form">
        <mat-form-field class="field" subscriptSizing="dynamic">
          <mat-label>CNP</mat-label>
          <input matInput formControlName="cnp">
        </mat-form-field>
        <mat-form-field class="field" subscriptSizing="dynamic">
          <mat-label>Nume</mat-label>
          <input matInput formControlName="last_name">
        </mat-form-field>
        <mat-form-field class="field" subscriptSizing="dynamic">
          <mat-label>Prenume</mat-label>
          <input matInput formControlName="first_name">
        </mat-form-field>


        <div class="button-bar">
          <button mat-flat-button color="primary" class="field" style="min-height: 48px;"
          (click)="fetchClients()">Caută</button>
          <button mat-flat-button color="primary" class="field" style="min-height: 48px;" (click)="clearFilters()">Șterge
          Filtre</button>
        </div>
        
      </form>
      <table mat-table [dataSource]="clientsList" class="mat-elevation-z8 demo-table">
        <!-- Id Column -->
=
  
        <!-- Name Column -->
        <ng-container matColumnDef="cnp">
          <th mat-header-cell *matHeaderCellDef>CNP</th>
          <td mat-cell *matCellDef="let element">{{element.cnp}}</td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef>Nume</th>
          <td mat-cell *matCellDef="let element">{{element.last_name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef>Prenume</th>
          <td mat-cell *matCellDef="let element">{{element.first_name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="insertAction">
          <th mat-header-cell *matHeaderCellDef><button mat-flat-button color="primary" (click)="openEditPage('INSERT', null)">+</button></th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns" backgroundColor="primary"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditPage('UPDATE', row)"></tr>
      </table>
    </div>
    
    <app-crud-clients [currentClient] = "currentClient" [currentOperation]="nextOperation" (onBack)="toggleBetweenViews()" [hidden]="currentView !== 'DETAILS'"></app-crud-clients>
</div>
